body{
  font-family: Montserrat;
  text-align: center;
}

p{
  color: #8f8f8f;
}

/* Navbar */

.navbar-brand{
  font-family: Ubuntu;
}

/* title */
#title{
  background-color:#ff4c68;
  text-align: left;
}


.title-image{
  width:60%;
  transform: rotate(10deg);
  position: absolute;
  right: 30%;

}

.container-fluid{
  padding: 3% 15% 10%;
}

h1, h2, h3, h4, h5, h6{
  font-family: Montserrat-Black;
}

/* headings */

.big-heading{
   font-size: 3rem;
   line-height: 1.5;
   font-weight: 700;
   color: #ffffff;
}

.pricing-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* sections */
.colored-section{
   background-color: #ff4c68;
   color: #fff;
}

.white-section{
  background-color: #ffffff;
}


/* features */
#features{
  padding: 5% 15%;
  position: relative;
}


#features h3{

  font-size: 1.5rem;

}

#features p{

  font-size: 1.4rem;
}

.fas{
  color:#ef8172;

  margin-bottom: 3%;
}

.fas:hover{
  color: #ff4c68;
}




li{
  padding-right: 20px;
}




/* Testimonials */

#testimonials{
  background-color:ef8172;
}

.testimonial-heading{
  font-size: 3rem;
  line-height: 1.5;
}

#testimonials h2{
  font-size: 3rem;
  font-weight: 700;
}


em{
  font-weight: 700;
}

.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-inner{
  padding: 5% 15%;
}

/* press */
#press{

  padding-bottom: 3%;

}

.press-img{
  width:15%;
  padding: 10px;
}

/* pricing */



#pricing p{
  font-size:1.2rem;
  font-family: 500;
}

.card-header h3{
  font-weight: 700;
}

.price-heading{
  font-size: 3rem;
  line-height: 1.5;
}


/* cta */
#cta{


  padding: 7% 15%;
}



#cta i{
  padding: 10px;
}
#cta button{
  margin: 10px;
}

/* footer */

#footer{


  padding: 10%;
}

#footer i{
  padding: 2%;
}

.footer-p{
  font-size: 1.3rem;
}

@media (max-width:992px) {
 #title{
   text-align: center;
 }

 .title-image{
  position: static;
  transform: rotate(0);
 }
}
